<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean" >
		<property name="triggers">
			<list>
				<ref bean="snapshotCronTrigger" />
			</list>
		</property>
	</bean>

	<bean id="snapshotCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean" >
		<property name="jobDetail" ref="snapshotJob" />
		<!-- run everyday at 22:00:00 -->
    	<property name="cronExpression" value="* * 22 * * ?" />
	</bean>

	<bean id="snapshotJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="securityPriceManagerCached" />
		<property name="targetMethod" value="createSnapshot" />
		<property name="concurrent" value="false" />
	</bean>

</beans>